extends layouts/main-layout.pug


block style
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/add-product", method="post")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
            button.btn(type="submit") Add Product