server {
    listen         80 default_server;
    listen         [::]:80 default_server;
    server_name    {{ ansible_hostname }}  {{ ansible_hostname }}.com;
    root           /var/www/html;
    index          index.html;
    try_files $uri /index.html;
}
