apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: demo-webhook
webhooks:
  - name: webhook-server.webhook-demo.svc
    clientConfig:
      service:
        name: webhook-server
        namespace: webhook-demo
        path: "/mutate"
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURQekNDQWllZ0F3SUJBZ0lVYk1GZ2ZvZGpsYWU1M21jd1NqZFdFdHc1OGlZd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0x6RXRNQ3NHQTFVRUF3d2tRV1J0YVhOemFXOXVJRU52Ym5SeWIyeHNaWElnVjJWaWFHOXZheUJFWlcxdgpJRU5CTUI0WERUSXlNREV5T1RBeU5EZzBPVm9YRFRJeU1ESXlPREF5TkRnME9Wb3dMekV0TUNzR0ExVUVBd3drClFXUnRhWE56YVc5dUlFTnZiblJ5YjJ4c1pYSWdWMlZpYUc5dmF5QkVaVzF2SUVOQk1JSUJJakFOQmdrcWhraUcKOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQXJYK3ViV1ZMMnZjKy9pMGRKbXcxT0ZjSGNuekthY0phMkN1QQpPN29XNUNKOW9FaXgxVEd1R3Z0cHhCNmRPRTRoOW01M0k4KzU0T0NLOXlsNDNReDh3ZWppbHZFMlF3RWJPVE9GCkY1R0hwRk9Xd2hmbGN4MUhwQk4xOG55ZTRVZmN1U1JOaXRzQlhCLzdWRVlmTHl1OXBXdTlLMnBzeFdadU1BWW0KOWxKRWFaalgvOFl6SUtkdmNSaDhLRVZJQXBzZEtTeng1YWlOUjQ5d0dCdGt6NzN0a0N2VXJPdllWQ0lQTE9ULwpOL3grM2kraGVjMmh1WFdpQTlpNld6V3N6OVp5bHFCQVNsdjB4UVhlczJ0RHh6bitpZWgxUThwSnZRVEJNNzRvCmFuWlgxenk5WGxycEhtcmpEa0phVnp6cm1tS3ZSWW1qbjA3eFlEcmwxeDlsdTlkRkJRSURBUUFCbzFNd1VUQWQKQmdOVkhRNEVGZ1FVMHpGdk1KdFcyYnZPOE9zSXZSWFM0KzduQ3Iwd0h3WURWUjBqQkJnd0ZvQVUwekZ2TUp0VwoyYnZPOE9zSXZSWFM0KzduQ3Iwd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTkJna3Foa2lHOXcwQkFRc0ZBQU9DCkFRRUFZK0p6UCtYMXM0UEgyZkFlUkFaQ2xzZU56UVR2dFV3ZW9TTkZaakdFYlBDWVFXS0tEOWVtZzFMbFJYRWEKNHc3R2s3TUYreWJ1dUlublRjcXNXTnNBdUdyUkt4cUhIMHdVWEF4NjZuQmttb0J6ci9hMHdjN01pME8xMFBCSQpLMGNKUmp2eENHaktZQUlKTkZwd3kvTk8xaE9YTklkYXZiRFJXNkovUTJsTGVxV1RhNC9TK0VVb2tpalIzbVJBCmhRRTdZVGR5OVJQK2VPK3Z3Q1B3c1lhcjBSTGNmd0xaaHNmQXArWnRRVjB6LzZVSXNzdzRHV1dKYnRoT2RNL1MKL2V4Y20rYVJOMzIyRnhxRE11aUVMcDFMME9nMGt3MVNTRm94TVZ0ZGpSQUFtR2lDdW9kZmRKQXU5RWdYcWZrSwpQZHNwYWh3VmZoOVNkNHovUHdNN3Bvc1pYUT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    rules:
      - operations: [ "CREATE" ]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
