apiVersion: v1
kind: Pod
metadata:
    name: example-app
spec:
    containers:
        -
            name: example-app
            image: ubuntu
            command: ["sleep" , "3600"]
            securityContext:
              privileged: false
              runAsUser: 0
    volumes:
    -   name: data-volume
        hostPath:
          path: '/data'
          type: Directory
